
body, html {
    height: 100%;
}

.container {
    height: 100%;
    min-width: 960px;
}

.navbar, .footer {
    background-color: #9ab3f5;
    height: 5%;
    display: flex;
    padding-left: 10px;
    padding-right: 20px;
}

.center {
    background-color: #a3d8f4;
    height: 90%;
}

.footer {
    background-color: #7579e7;
    height: 5%; 
}

.navleft, .navright {
    width: 50%;
    align-items: center;
}

.navleft {
    display: flex;
    justify-content: flex-start;
}

.navright {
    display: flex;
    justify-content: flex-end;
}

.footer li {
    padding-left: 27px;
}

.navbar li {
    padding-left: 15px;
}

.logo-container {
    padding-top: 140px;
    text-align: center;
}

.searchbar-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.searchbar-exterior {
    width: 450px;
    height: 45px;
    border-radius: 50px;
    margin: 0 auto;
    text-align: center;
    background-color: #9ab3f5;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.searchbar {
    width: 77%;
    background-color: #9ab3f5;
    border-style: none;
}

.buttons-container {
    text-align: center;
    padding-top: 5px;;
}

.buttons-container > button {
    line-height: 34px;
    padding: 0 13px;
    margin-left: 3px;
    background-color: #9ab3f5;
    border: 1px solid #9ab3f5;
    border-radius: 4px;
}

.search-btn:hover {
    border: 1px solid #7579e7;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.75;
    font-size: 14px;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

nav a {
    font-size: 13px;
}

.apps-icon {
    padding-top: 3px;
}

.signin-btn {
    font-weight: bold;
    color: white;
    background-color: #a3d8f4;
    line-height: 28px;
    border: 1px solid #a3d8f4;
}